/* INFO ENF*/
#book {
    margin-left: 5px;
}

#icon {
    margin: 0px 15px 0px 24px;  
    width: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info-item img {
    margin: 0px 0px 0px 24px;
}

/* QUARTOS BOX */
#SetaBlueGo {
    margin: 5px 5px 0px 0px;
    width: 40px; 
}



